body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cellContainer {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}
